.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  background-color: #e63946; /* Red color */
  color: white;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.dataset-selection {
  margin-bottom: 20px; /* Space below the dropdown */
}

select {
  margin-top: 10px; /* Space above the dropdown */
  padding: 10px; /* Padding for aesthetics */
  font-size: 16px; /* Increased font size */
}

.visualization,
.analytics {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border-radius: 5px;
}

.chart,
.analytics-content {
  min-height: 100px;
}
